/* ============================== */
/* Google Fonts */
/* ============================== */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ========================== */
/* CSS Reset */
/* ========================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* ========================== */
/* Variables */
/* ========================== */
:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --color-primary: #edd118;
  --color-primary-dark: #c7b125;
  --color-white: #f5f5f5;
  --color-black: #000;
  --color-gray: #ababab;
  --color-gray-light: #bbbbbb;
  --color-red: #ff4500;
  --color-red-dark: #cc3600;

  --gradient-1: rgba(8, 8, 8, 0.85);
  --gradient-2: rgba(8, 8, 8, 0.45);

  --color-gray-transparent-1: rgba(128, 128, 128, 0.3);
  --color-gray-transparent-2: rgba(128, 128, 128, 0.55);

  --toast-bg-red: rgba(255, 0, 0, 0.8);
  --toast-bg-green: rgba(0, 200, 0, 0.8);
}

/* ========================== */
/* Base Styling */
/* ========================== */
body {
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.auth-container,
.search-container {
  min-height: 100vh;
}

/* ============================== */
/* Loader */
/* ============================== */
.loader {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1rem 0 #fff, -1rem 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 1rem 0 #fff2, -1rem 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 1rem 0 #fff2, -1rem 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 1rem 0 #fff, -1rem 0 #fff2;
  }
}

.loader-spinner {
  border: 1rem solid var(--color-gray); /* Light grey */
  border-top: 1rem solid var(--color-primary); /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ================================ */
/* Error Elements Styling */
/* ================================ */
.search-error {
  color: var(--color-red);
}

/* ============================== */
/* Auth Container */
/* ============================== */
.auth-container {
  background-image: linear-gradient(
      to left,
      var(--gradient-1) 60%,
      var(--gradient-2)
    ),
    url("./images/cine-data-login.jpg");
  background-size: cover;
  background-position: center bottom;
}

.auth-container .tabs-container {
  width: 50%;
  background-color: var(--color-gray-transparent-1);
}

#auth-tabs .nav-link {
  color: var(--color-white);
}

#auth-tabs .nav-link.active {
  background-color: var(--color-primary);
  color: var(--color-black);
}

#form-container label {
  color: var(--color-white);
}

#form-container input {
  background-color: var(--color-gray-transparent-2);
  color: var(--color-white);
}

#form-container button {
  background-color: var(--color-primary);
  color: var(--color-black);
  transition: background-color 0.25s linear;
}

#form-container button:hover {
  background-color: var(--color-primary-dark);
}

/* ========================= */
/* Search Route */
/* ========================= */
.search-container {
  background-image: linear-gradient(var(--gradient-1, var(--gradient-1))),
    url("./images/cine-data-main.jpg");
  background-position: center;
  background-size: cover;
}

.search-container nav {
  gap: 2rem;
}

.search-container #logout-button {
  background-color: var(--color-primary);
  transition: background-color 0.25s linear;
  color: var(--color-black);
}

.search-container #logout-button:hover {
  background-color: var(--color-primary-dark);
}

.search-container .tabs-container {
  background-color: var(--color-gray-transparent-1);
  gap: 3rem;
  min-width: 50%;
}

.search-container .tab-buttons {
  gap: 1rem;
}

.search-container .tab-button {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.search-container .tab-button.active,
.search-container .tab-button:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.search-container .tabs-container .tab-content {
  display: none;
}

.search-container .tabs-container .tab-content.active {
  display: block;
}

.search-container .tab-content form label {
  color: var(--color-white);
}

.search-container .tab-content form input {
  background-color: var(--color-gray-transparent-2);
  color: var(--color-white);
}

.search-container .tab-content form input::placeholder {
  color: var(--color-gray);
}

.search-container .tab-content form button {
  background-color: var(--color-primary);
  color: var(--color-black);
  transition: background-color 0.25s linear;
}

.search-container .tab-content form button:active,
.search-container .tab-content form button:hover {
  background-color: var(--color-primary-dark);
}

/* =================================== */
/* Watchlist */
/* =================================== */
.watchlist-container {
  max-height: 15.625rem;
  gap: 1.4rem;
}

.watchlist-container .fa-star {
  color: var(--color-primary);
}

.watchlist-item {
  background-color: var(--color-gray-transparent-2);
  gap: 1rem;
}

.watchlist-item-poster {
  max-height: 8.25rem;
}

.watchlist-item-content {
  color: var(--color-white);
}

.watchlist-item-rating {
  justify-self: end;
}

.watchlist-item-buttons {
  gap: 0.8rem;
}

.watchlist-item-buttons .remove-btn,
.watchlist-item-buttons .rating-btn {
  color: var(--color-black);
}

.watchlist-item-buttons .remove-btn {
  background-color: var(--color-red);
}

.watchlist-item-buttons .remove-btn:active,
.watchlist-item-buttons .remove-btn:hover {
  background-color: var(--color-red-dark);
}

.watchlist-item-buttons .rating-btn {
  background-color: var(--color-primary);
}

.watchlist-item-buttons .rating-btn:active,
.watchlist-item-buttons .rating-btn:hover {
  background-color: var(--color-primary-dark);
}

/* ============================== */
/* Search Results Container */
/* ============================== */
main {
  background-color: var(--color-gray-light);
}

.search-results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 230px));
  gap: 1.8rem;
}

.search-results .card .card-img-container {
  height: 320px;
}

.search-results .card .add-to-watchlist-btn {
  background-color: var(--color-primary);
  color: var(--color-black);
  transition: background-color 0.25s linear;
}

.search-results .card .add-to-watchlist-btn:active,
.search-results .card .add-to-watchlist-btn:hover {
  background-color: var(--color-primary-dark);
}

.search-results .card .movie-info-btn {
  background-color: transparent;
  color: var(--color-primary);
}

/* ====================================== */
/* Movie Details Modal */
/* ====================================== */
.movie-details-modal .modal-body {
  display: grid;
  grid-template-areas:
    "poster details"
    "plot plot";
  grid-template-columns: min-content;
  column-gap: 1.6rem;
}

.movie-details-modal .modal-body .modal-poster-container {
  max-height: 18.75rem;
  grid-area: poster;
}
.movie-details-modal .modal-body .modal-movie-details {
  grid-area: details;
}
.movie-details-modal .modal-body .movie-plot {
  grid-area: plot;
}

.movie-details-modal .modal-body .table th {
  color: var(--color-gray);
}

.movie-details-modal .modal-body .table .fa-star {
  color: var(--color-primary);
}

.movie-details-modal .modal-footer button {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.movie-details-modal .modal-footer button:active,
.movie-details-modal .modal-footer button:hover {
  background-color: var(--color-primary-dark);
}

/* =================================== */
/* Watchlist Toast */
/* =================================== */
.toast-container .white-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

/* ======================= */
/* Media Queries */
/* ======================= */

/* Large screen sizes */
@media only screen and (max-width: 992px) {
  .auth-container {
    background-image: linear-gradient(var(--gradient-1), var(--gradient-1)),
      url("./images/cine-data-login.jpg");
  }

  .auth-container .tabs-container {
    width: 80%;
  }

  .search-container .tabs-container {
    min-width: 80%;
  }
}

/* Medium screen sizes */
@media only screen and (max-width: 768px) {
  .auth-container .tabs-container {
    width: 100%;
  }

  .search-container .tabs-container {
    min-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .watchlist-item-poster {
    max-height: 7.25rem;
  }

  .watchlist-item {
    gap: 0.6rem;
  }

  .movie-details-modal .modal-body {
    grid-template-areas:
      "poster"
      "details"
      "plot";
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
