/* ============================== */
/* Google Fonts */
/* ============================== */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ========================== */
/* CSS Reset */
/* ========================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* ========================== */
/* Variables */
/* ========================== */
:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  --color-primary: #edd118;
  --color-primary-dark: #c7b125;
  --color-white: #f5f5f5;
  --color-black: #000;
  --color-gray: #ababab;

  --gradient-1: rgba(8, 8, 8, 0.85);
  --gradient-2: rgba(8, 8, 8, 0.45);

  --color-gray-transparent-1: rgba(128, 128, 128, 0.3);
  --color-gray-transparent-2: rgba(128, 128, 128, 0.55);
}

/* ========================== */
/* Base Styling */
/* ========================== */
body {
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.auth-container,
.search-container {
  min-height: 100vh;
}

/* ============================== */
/* Auth Container */
/* ============================== */
.auth-container {
  background-image: linear-gradient(
      to left,
      var(--gradient-1) 60%,
      var(--gradient-2)
    ),
    url("./images/cine-data-login.jpg");
  background-size: cover;
  background-position: center bottom;
}

.auth-container .tabs-container {
  width: 50%;
  background-color: var(--color-gray-transparent-1);
}

#auth-tabs .nav-link {
  color: var(--color-white);
}

#auth-tabs .nav-link.active {
  background-color: var(--color-primary);
  color: var(--color-black);
}

#form-container label {
  color: var(--color-white);
}

#form-container input {
  background-color: var(--color-gray-transparent-2);
  color: var(--color-white);
}

#form-container button {
  background-color: var(--color-primary);
  color: var(--color-black);
  transition: background-color 0.25s linear;
}

#form-container button:hover {
  background-color: var(--color-primary-dark);
}

/* ========================= */
/* Search Route */
/* ========================= */
.search-container {
  background-image: linear-gradient(var(--gradient-1, var(--gradient-1))),
    url("./images/cine-data-main.jpg");
  background-position: center;
  background-size: cover;
}

.search-container nav {
  gap: 2rem;
}

.search-container #logout-button {
  background-color: var(--color-primary);
  transition: background-color 0.25s linear;
}

.search-container #logout-button:hover {
  background-color: var(--color-primary-dark);
}

.search-container .tabs-container {
  background-color: var(--color-gray-transparent-1);
  gap: 3rem;
  min-width: 50%;
}

.search-container .tab-buttons {
  gap: 1rem;
}

.search-container .tab-button {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.search-container .tab-button.active,
.search-container .tab-button:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.search-container .tabs-container .tab-content {
  display: none;
}

.search-container .tabs-container .tab-content.active {
  display: block;
}

.search-container .tab-content form label {
  color: var(--color-white);
}

.search-container .tab-content form input {
  background-color: var(--color-gray-transparent-2);
  color: var(--color-white);
}

.search-container .tab-content form input::placeholder {
  color: var(--color-gray);
}

.search-container .tab-content form button {
  background-color: var(--color-primary);
  color: var(--color-black);
  transition: background-color 0.25s linear;
}

.search-container .tab-content form button:active,
.search-container .tab-content form button:hover {
  background-color: var(--color-primary-dark);
}

/* ======================= */
/* Media Queries */
/* ======================= */

/* Large screen sizes */
@media only screen and (max-width: 992px) {
  .auth-container {
    background-image: linear-gradient(var(--gradient-1), var(--gradient-1)),
      url("./images/cine-data-login.jpg");
  }

  .auth-container .tabs-container {
    width: 80%;
  }

  .search-container .tabs-container {
    min-width: 80%;
  }
}

/* Medium screen sizes */
@media only screen and (max-width: 768px) {
  .auth-container .tabs-container {
    width: 100%;
  }

  .search-container .tabs-container {
    min-width: 100%;
  }
}
