<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CineData</title>
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="16x16"
      type="image/png"
      href="{{ url_for('static', filename='assets/images/cinema-projector-180x180.png') }}"
    />
    <link
      rel="icon"
      sizes="32x32"
      type="image/png"
      href="{{ url_for('static', filename='assets/images/cinema-projector-32x32.png') }}"
    />
    <link
      rel="icon"
      sizes="16x16"
      type="image/png"
      href="{{ url_for('static', filename='assets/images/cinema-projector-16x16.png') }}"
    />
    {% block styles %}
    <!-- Bootstrap-Flask CSS -->
    {{ bootstrap.load_css() }}
    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <!-- Styles CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/styles.css') }}"
    />
    {% endblock %} {% endblock %}
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block content %}
    {% endblock %}

    <!-- prettier-ignore -->
    {% block scripts %}
    {% endblock %}
  </body>
</html>
