{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block content %}
<div class="auth-container">
  <div class="container py-4">
    <h1 class="text-center text-lg-end display-2 fw-bold mb-4">
      CineData <i class="fa-solid fa-video"></i>
    </h1>
    <div
      class="container d-flex justify-content-lg-end justify-content-center p-0"
    >
      <div class="tabs-container p-3 p-md-5 rounded">
        <!-- Tabs -->
        <ul class="nav nav-tabs mb-4" id="auth-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link fw-bold active"
              id="register-tab"
              data-bs-toggle="tab"
              data-bs-target="#register-tab-pane"
              type="button"
              role="tab"
              aria-controls="register-tab-pane"
              aria-selected="true"
            >
              Register
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link fw-bold"
              id="login-tab"
              data-bs-toggle="tab"
              data-bs-target="#login-tab-pane"
              type="button"
              role="tab"
              aria-controls="login-tab-pane"
              aria-selected="false"
            >
              Login
            </button>
          </li>
        </ul>
        <div class="tab-content" id="form-container">
          <!-- Register Form -->
          <form
            class="tab-pane fade show active"
            id="register-tab-pane"
            role="tabpanel"
            aria-labelledby="register-tab"
            tabindex="0"
          >
            <div class="mb-3">
              <label for="register-username" class="form-label mb-1"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="register-username"
                name="register-username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="register-password" class="form-label mb-1"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="register-password"
                name="register-password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="register-confirm-password" class="form-label mb-1"
                >Confirm password</label
              >
              <input
                type="password"
                class="form-control"
                id="register-confirm-password"
                name="register-confirm-password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary fw-bold border-0">
              Submit
            </button>
          </form>
          <form
            class="tab-pane fade"
            id="login-tab-pane"
            role="tabpanel"
            aria-labelledby="login-tab"
            tabindex="0"
          >
            <div class="mb-3">
              <label for="login-username" class="form-label mb-1"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="login-username"
                name="login-username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="login-password" class="form-label mb-1"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="login-password"
                name="login-password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary fw-bold border-0">
              Log In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% block scripts %}
<!-- Bootstrap-Flask script -->
{{ bootstrap.load_js() }}
<!-- Script JS -->
<script
  src="{{ url_for('static', filename='js/login.js') }}"
  type="module"
></script>
{% endblock %} {% endblock %}
