{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block content %}
<header class="search-container d-flex flex-column">
  <nav class="container d-flex justify-content-between align-items-center py-4">
    <!-- Dynamically add the username to the welcome message -->
    <h1 class="fw-bold display-4 mb-0">Welcome, {{ user }}</h1>
    <a
      href="{{ url_for('logout') }}"
      id="logout-button"
      class="text-decoration-none fw-bold py-2 px-2 px-sm-4 border-0 rounded focus-ring"
    >
      Logout
    </a>
  </nav>
  <div class="container flex-grow-1 d-flex flex-column align-items-center mt-2">
    <div class="tab-buttons d-flex mt-4">
      <button
        class="tab-button rounded py-2 px-2 px-sm-4 fw-bold focus-ring active"
        data-tab="tab-1"
      >
        Movie Search
      </button>
      <button
        class="tab-button rounded py-2 px-2 px-sm-4 focus-ring fw-bold"
        data-tab="tab-2"
      >
        Watchlist
      </button>
      <button
        class="tab-button rounded py-2 px-2 px-sm-4 focus-ring fw-bold"
        data-tab="tab-3"
      >
        Ratings
      </button>
    </div>
    <div class="tabs-container d-flex flex-column mt-5 p-3 p-md-5 rounded">
      <div class="tab-content active" id="tab-1">
        <h2 class="fs-2 fw-bold mb-4">Search for a Movie</h2>
        <form action="" id="search-movie-form">
          <div class="mb-3">
            <label for="movie-name" class="form-label mb-1">Movie name</label>
            <input
              type="text"
              class="form-control"
              id="movie-name"
              placeholder="e.g. Interstellar"
              required
            />
          </div>
          <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary border-0 fw-bold">
              Search
            </button>
            <div class="loader ms-4 d-none"></div>
          </div>
          <p class="search-error d-none mb-0 mt-3"></p>
        </form>
      </div>
      <div class="tab-content" id="tab-2">
        <h2 class="fs-2 fw-bold mb-4">Watchlist</h2>
        <div class="watchlist-container d-flex flex-column overflow-auto">
          <!-- Placeholder paragraph -->
          <p class="watchlist-empty-paragraph text-center text-white fs-5">
            Your watchlist is empty
          </p>
        </div>
      </div>
      <div class="tab-content" id="tab-3">
        <h2 class="fs-2 fw-bold mb-4">Ratings</h2>
        <div class="ratings-container d-flex flex-column overflow-auto">
          <!-- Placeholder paragraph -->
          <p class="ratings-empty-paragraph text-center text-white fs-5">
            Your rating list is empty
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="py-5 d-none">
  <div class="search-results container"></div>
</main>

<!-- Movie Details Modal -->
<div
  class="movie-details-modal modal fade modal-lg"
  id="movieDetailsModal"
  tabindex="-1"
  aria-labelledby="movieDetailsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content"></div>
  </div>
</div>

<!-- Add Rating Dialog -->
<dialog id="rating-stars-dialog" class="p-2 p-sm-3 fixed border-0 rounded">
  <h1 class="rating-stars-title fs-1 mb-0">Title</h1>
  <div class="rating-stars d-flex justify-content-center py-5"></div>
  <p class="user-rating fw-bold fs-5">
    Your rating: <i class="fa-solid fa-star"></i>
    <span class="user-rating-value">1</span>
  </p>
  <button class="submit-rating-btn btn border-0 fw-bold">Submit</button>
  <button
    class="close-dialog-btn border-0 focus-ring"
    aria-label="Close rating stars dialog"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>
</dialog>

<!-- Add to Watchlist Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="watchlist-toast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-content d-flex p-4">
      <div class="watchlist-toast-message text-white fs-5 fw-bold"></div>
      <button
        type="button"
        class="btn-close me-2 m-auto white-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

{% block scripts %}
<!-- Bootstrap script -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
  crossorigin="anonymous"
></script>
<!-- Script JS -->
<script
  src="{{ url_for('static', filename='js/fetchData.js') }}"
  type="module"
></script>
{% endblock %} {% endblock %}
