{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block content %}
<header class="search-container d-flex flex-column">
  <nav class="container d-flex justify-content-between align-items-center py-4">
    <h1 class="fw-bold display-4 mb-0">Welcome, {{ user }}</h1>
    <a
      href="{{ url_for('logout') }}"
      id="logout-button"
      class="text-decoration-none fw-bold py-2 px-2 px-sm-4 border-0 rounded focus-ring"
    >
      Logout
    </a>
  </nav>
  <div class="container flex-grow-1 d-flex flex-column align-items-center mt-2">
    <div class="tab-buttons d-flex mt-5">
      <button
        class="tab-button rounded py-2 px-2 px-sm-4 fw-bold focus-ring active"
        data-tab="tab-1"
      >
        Movie Search
      </button>
      <button
        class="tab-button rounded py-2 px-2 px-sm-4 focus-ring fw-bold"
        data-tab="tab-2"
      >
        Watchlist
      </button>
      <button
        class="tab-button rounded py-2 px-2 px-sm-4 focus-ring fw-bold"
        data-tab="tab-3"
      >
        Ratings
      </button>
    </div>
    <div class="tabs-container d-flex flex-column mt-5 p-3 p-md-5 rounded">
      <div class="tab-content active" id="tab-1">
        <h2 class="fs-2 fw-bold mb-4">Search for a Movie</h2>
        <form action="" id="search-movie-form">
          <div class="mb-3">
            <label for="movie-name" class="form-label mb-1">Movie name</label>
            <input
              type="text"
              class="form-control"
              id="movie-name"
              placeholder="e.g. Interstellar"
              required
            />
          </div>
          <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary border-0 fw-bold">
              Search
            </button>
            <div class="loader ms-4 d-none"></div>
          </div>
          <p class="search-error d-none mb-0 mt-3"></p>
        </form>
      </div>
      <div class="tab-content" id="tab-2">
        <h2 class="fs-2 fw-bold mb-4">Watchlist</h2>
      </div>
      <div class="tab-content" id="tab-3">
        <h2 class="fs-2 fw-bold mb-4">Ratings</h2>
      </div>
    </div>
  </div>
</header>
<main class="py-5 d-none">
  <div class="search-results container"></div>
</main>

<!-- Movie Details Modal -->
<div
  class="movie-details-modal modal fade modal-lg"
  id="movieDetailsModal"
  tabindex="-1"
  aria-labelledby="movieDetailsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content"></div>
  </div>
</div>

{% block scripts %}
<!-- Bootstrap-Flask script -->
{{ bootstrap.load_js() }}
<!-- Script JS -->
<script
  src="{{ url_for('static', filename='js/fetchData.js') }}"
  type="module"
></script>
{% endblock %} {% endblock %}
